// main: index.less

// Navigation Styles here

.nav-bar {
    border-bottom: 2px solid @nav-border;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 90px;
    .background-container {
        background-color: @nav-bg; 
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    .nav-container {
        height: 100%;
        .flex(column, nowrap, space-evenly, center);
        .nav-links {
            .flex(row, nowrap, center, center);
            a{
                .link-style();
                .font-styles(1.2rem, @nav-font);
                padding: 15px;
                @media @tablet {
                    .font-styles(1.6rem, @nav-font);
                padding: 10px 30px;
                }
            }
        }
    }
}


